@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
body{
    background-color: #FEFEFF;
    font-family: "Mona Sans", sans-serif;
}
main{
    text-align: center;
    align-items: center;
    margin: 5%;
}
.navbar{
    list-style: none; 
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline; 
    margin-right: 15px; 
}
a{
    color: black;
    text-decoration: none;
}
#logo {
    width: 8vw;
    
}
#image_proyect{
    width: 20vw;
}
.head{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #D3AB9E;
    border-radius: 10px;
}
#title_text{
    text-align: center;
}
#profile_image{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 30px;
}
#picture_profile{
    width: 20vw;
    border-radius: 25%;
}
#usarname{
    font-size: 16px;
}
#Inicio{
    display:block;
    text-align: center;
    align-items: center;
}
footer {
    background-color: #EBD8D0;
    color: #000000;
    text-align: center;
    padding: 15px; 
    font-size: 14px;
    border-radius: 10px;
}
#socialmedia_footer {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0; 
}
#socialmedia_footer li {
    margin: 5px 0;
}
footer p {
    margin: 0; 
}
.social_media_main{
    list-style: none; 
    padding: 0;
    margin: 0;
}
.social_media_main li{
    display: inline;
    margin-right: 30px;
}
.social_media_icons{
    width: 8vw;
    
}
.social_media_icons_f{
    width: 8vw;
    border: 2px solid #000000;
    border-radius: 10px;
} 
input{
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 10px;
}
article{
    margin-top: 100px;
    margin-bottom: 100px;
}
.image_article{
    width: 30vw;
}
ul{
    list-style: none;
}